/data/kf_2d_re1000_256_40seed.npy
/data/kmflow_sampled_data_irregnew.npz
/data/drawn_points_1_5625.npy
/data/drawn_points_5.npy
/data/kf_2d_re1000_256_40seed.npy
/data/kmflow_sampled_data_irregnew.npz
/data/low_res_data_32.npy
/data/low_res_data_64.npy
